{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "max-len": ["warn", 120]
  }
}
